.button {
  @apply flex items-center justify-center rounded-3xl py-1 xl:px-10 px-6 text-[var(--btn-text-color)];
}

.regular, .regular path {
  @apply transition-all ease-in duration-200 bg-[var(--btn-bg-color)];
}

.regular-outline {
  @apply transition-all ease-in duration-200 bg-transparent border border-[var(--btn-accent-color)] ;
}

.regular-outline:hover {
  @apply border-[var(--btn-accent-color)] opacity-75;
}

.regular:hover,
.regular:hover path {
  @apply bg-[var(--btn-text-color)] text-[var(--btn-hover-text-color)] fill-[var(--btn-hover-text-color)];
}

.ringed {
  @apply bg-[var(--btn-bg-color)] text-[var(--btn-text-color)] relative;
  @apply bg-clip-border border-2 border-transparent;
  transition: "all 0.2s linear 0s";
}

.ringed::before {
  content: "";
  z-index: -1;
  margin: -3px;
  border-radius: inherit;
  @apply absolute;
  @apply top-0 bottom-0 right-0 left-0;
  transition: all 0.2s linear 0s;

  background: linear-gradient(
    337deg,
    var(--btn-accent-color) 12%,
    transparent 31%,
    transparent 72%,
    var(--btn-accent-color) 92%
  );
}

.ringed:hover::before {
  background: linear-gradient(
    351deg,
    var(--btn-accent-color) 12%,
    transparent 31%,
    transparent 45%,
    var(--btn-accent-color) 81%
  );
}

.ringed[disabled] {
  @apply opacity-40 pointer-events-none !text-green_light2;
}

.ringed[disabled]::before,
.ringed[disabled]:hover::before {
  @apply content-none;
}
